*{
    margin:0;
    padding: 0;
}
main {
    width: 90%;
    max-width: 1080px;
    margin: 10px auto;
    /* background-color: red; */
} 
section {
    border: 10px black solid;
    margin: 10px;
    width: 55%;
    float: left;
    /* max-width: ; */
}
section img{
    height: 5%;
    max-height: 300px;
}
header {
    background-color: black;
    height: auto;
}
.product {
    padding: 5px;
}
nav {
    /* list-style-type: none; */
    overflow: hidden;
} 
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover {
    background-color: rgb(68, 67, 67);
    color: white;
}
